/* You can add global styles to this file, and also import other style files */
html, body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.btn { height: 2.6rem !important; width: fit-content;}

.btn-light { border: 1px solid rgb(207, 204, 226) !important; }
.btn-primary {
    color: rgba(14, 25, 28, 0.82) !important;
  
    background-color: rgba(107, 128, 219, 0.25) !important;
    border: none;
  
    background: linear-gradient(-45deg, rgba(51, 99, 171, 0.22), rgba(255, 255, 255, 0.25));
    box-shadow: 5px 5px 10px 0 rgb(51 128 171 / 25%), -5px -5px 5px 0 rgb(255 255 255 / 30%);
  }

  .btn-warning {
    color: rgba(14, 25, 28, 0.82) !important;
  
    background-color: rgba(255, 201, 130, 0.616) !important;
    border: none;
  
    background: linear-gradient(-45deg, rgba(253, 216, 113, 0.685), rgba(255, 255, 255, 0.603));
    box-shadow: 5px 5px 10px 0 rgb(51 128 171 / 25%), -5px -5px 5px 0 rgb(255 255 255 / 30%);
  }

  .btn-second {
    color: rgb(250, 254, 255, .82) !important;
    background-color: rgba(130, 125, 153, 0.774) !important;
    border: none;
    background: linear-gradient(-45deg, rgba(63, 62, 70, 0.747), rgb(189, 189, 205, 84%));
    box-shadow: 5px 5px 10px 0 rgb(123 127 199 / 25%), -5px -5px 5px 0 rgb(255 255 255 / 30%);
  }

  .form-group {
    input:focus {
      border: 1px solid gray im !important;
    }
    
    textarea:focus {
      border: 1px solid gray im !important;
    }
  }
  
.h6 {
  font-size: .9rem;
}
.article-card {
  width: 30rem;
  margin: 1.2rem 1rem;
  box-shadow: 6px 8px 6px -7px #9394a3;
  max-height: 40rem;
}

.article-card-full {
  margin: 1.2rem 1rem;
  padding: 2rem !important;  
  min-height: calc(100vh - 4rem) !important;
}

.colums-container {
  column-count : 2;
  column-gap : 50px;
  column-rule : 1px dotted gray;
}
