<app-header></app-header>
<div class="pl-5 pr-5">
  <h1 class="mb-4">Hallo CMS!</h1>
  <hr class="mb-4">
  <p class="col-6 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque blanditiis cumque dignissimos eveniet fuga fugit inventore laudantium maiores molestiae, molestias, odit omnis perferendis reiciendis sit soluta totam voluptas!</p>
  <p class="col-6 p-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda atque blanditiis cumque dignissimos eveniet fuga fugit inventore laudantium maiores molestiae, molestias, odit omnis perferendis reiciendis sit soluta totam voluptas!</p>
</div>