<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
   
      <property name = "hibernate.dialect">
         org.hibernate.dialect.MySQLDialect
      </property>
      
      <property name = "hibernate.connection.driver_class">
         <!-- com.mysql.jdbc.Driver -->
		 com.mysql.cj.jdbc.Driver
      </property>
      
      <!-- Assume test is the database name -->
      <property name = "hibernate.connection.url">
         <!-- DATABASE CONNECTION STRING FOR LOCAL DEVELOPEMENT -->
         <!--jdbc:mysql://localhost:3306/test_db  -->
         
         <!-- DATABASE STRING FOR TEST LIVE ENVIRONMENT TOMCAT -->
      	 jdbc:mysql://mysql:3306/test_db
      </property>
      
      <property name = "hibernate.connection.username">
         user
      </property>
      
      <property name = "hibernate.connection.password">
      	password
      </property>
      
      <property name="hibernate.connection.pool_size">
         1
      </property>
        
      <property name="hibernate.current_session_context_class">
         thread
      </property>
      
      <property name="hibernate.show_sql">
         true
      </property>
      
      <mapping class = "com.fi9e.rest.entity.User" />
      <mapping class = "com.fi9e.rest.entity.Role" />
      <mapping class = "com.fi9e.rest.entity.Article" />
      <mapping class = "com.fi9e.rest.entity.Category" />
      
   </session-factory>
</hibernate-configuration>