* {
  color: rgba(14, 25, 28, 0.82);
}
.left-nav {
  background-color: rgba(96, 98, 108, 0.03);
  box-shadow: 6px 0 6px -7px #9394a3;
  min-height: calc(100vh - 4rem);
  height: 100%;
}


.border-bottom {
  border-color: rgba(167, 166, 177, 0.57) !important;
}

a:hover {
  color: rgb(34, 38, 39)!important;
    text-decoration: none !important;
}
.nav_active {
  background-color: rgba(147, 147, 187, 0.1);
  padding-left: 1rem;
  // &::after {
  //   display: inline-flex;
  //   content: "";
  //   width: .5rem;
  //   height: .5rem;
  //   background-color: rgba(28, 53, 165, 0.72);
  //   border-radius: 1rem;
  //   margin-right: .5rem;
  //   transform: translateY(-1px);   
  //   margin-left: auto; 
  // }
  a {
    color: rgba(28, 53, 165, 0.72);
  }
}

.pointer {
  cursor: pointer !important;
}