<div class="d-flex align-items-center w-100 vh-100">
    <div class="col-md-6 offset-md-3 col-xl-5 col-lg-6 m-lg-auto">
        <div class="card card-outline-secondary">
            <div class="card-header">
                <h3 class="mb-0">Anmelden</h3>
            </div>
            <div class="card-body">
                <form class="form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
                    <div class="form-group">
                        <label for="email">Benutzername</label>
                        <input type="email" class="form-control" name="email" id="email" ngModel required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Passwort</label>
                        <input type="password" class="form-control" name="password" ngModel required>
                    </div>
                    <div class="form-check small mt-1">
                        <label class="password-forgot">
                            <span class="font-weight-bold">Passwort vergessen?</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-light float-right" id="btnLogin">Anmelden</button>
                </form>
            </div>
        </div>
    </div>
</div>