
  <div class="pl-5 pr-5 pt-5 w-100">
   
      <div class="d-flex align-items-center justify-content-between mb-3">    
        <h1 class="mr-4" *ngIf="allArticles">All Articles </h1>
        <div *ngIf="!allArticles"></div>
      </div>
    <div>
        <!-- Show Articles: display articles -->
        <div class="d-flex article-card-container">
          <app-article-item 
            *ngFor="let articleEl of articleList"
            [article] = articleEl          
          >
          </app-article-item>
       </div>
    </div>
</div>
