
.btn-primary {
    color: rgba(14, 25, 28, 0.82) !important;
  
    background-color: rgba(107, 128, 219, 0.25) !important;
    border: none;
  
    background: linear-gradient(-45deg, rgba(51, 99, 171, 0.22), rgba(255, 255, 255, 0.25));
    box-shadow: 5px 5px 10px 0 rgb(51 128 171 / 25%), -5px -5px 5px 0 rgb(255 255 255 / 30%);
  }
  